ion-content {
background: #fff url(https://cdn.jsdelivr.net/gh/hannsvillamil/upscp@master/https___specials-images.forbesimg.com_imageserve_1141999659_0x0.jpg) center center/cover no-repeat ;
}

h2 {
  font-family: Arial black ;
  text-align: center;

}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, bold;
  text-align: center;

}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;

}
 
 ion-content {
   font-family: Arial black;
  
 }